.btn-facebook:hover, .btn-twitter:hover, .btn-google-plus:hover, .btn-pinterest:hover {
  border-color: white; }

.btn-facebook i {
  color: #435f9f; }
.btn-facebook:hover {
  color: white;
  background-color: #435f9f; }
  .btn-facebook:hover i {
    color: white; }

.btn-twitter i {
  color: #00aaf0; }
.btn-twitter:hover {
  color: white;
  background-color: #00aaf0; }
  .btn-twitter:hover i {
    color: white; }

.btn-google-plus i {
  color: #e04b34; }
.btn-google-plus:hover {
  color: white;
  background-color: #e04b34; }
  .btn-google-plus:hover i {
    color: white; }

.btn-pinterest i {
  color: #ce1f21; }
.btn-pinterest:hover {
  color: white;
  background-color: #ce1f21; }
  .btn-pinterest:hover i {
    color: white; }

#left_column .sf-contener {
  float: none; }
#left_column #social_block li {
  display: inline; }

.home-page {
  height: 1000px;
  margin-top: -2%; }
  .home-page .home-background {
    background: url('../img/melinda.png?1404900408');
    background-size: cover;
    height: 100%;
    width: 100%; }
  .home-page .logo {
    margin: 0 auto;
    padding-top: 35%;
    vertical-align: middle; }
