

// Global

h1, h2, h3 {
	line-height: 1.6rem;
}

@media (min-width: $screen-sm) {
	#left_column {
		position: fixed;
		top: 0;
		left: 0;
		padding-bottom: 50px;
	}

	#right_column {
		position: fixed;
		top: 0;
		right: 0;
	}

	#center_column {
		margin-left: 17%;
	}
	
}

a, p, blockquote p {
	font-size: 15px;
}


//Social Sharing
.btn-facebook, .btn-twitter, .btn-google-plus, .btn-pinterest, .btn-instagram {
	&:hover {
		border-color: white;
	}
}

.btn-facebook {
	color: $gray-dark;
	background-color: white;

	i {
		color: $gray-dark;
	}
	&:hover {
		color: white;
		background-color: $gray-dark;

		i {
			color: white;
		}
	}
}

.btn-twitter {
	i {
		color: $gray-dark;
	}
	&:hover {
		color: white;
		background-color: $gray-dark;
		i {
			color: white;
		}
	}
}

.btn-google-plus {

	i {
		color: $gray-dark;
	}
	&:hover {
		color: white;
		background-color: $gray-dark;
		i {
			color: white;
		}
	}
}

.btn-instagram {
	i {
		color: $gray-dark;
	}
	&:hover {
		color: white;
		background-color: $gray-dark;
		i {
			color: white;
		}
	}
}

.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
	background: transparent;
}

#left_column #block_top_menu .sf-menu > li:nth-child(1) {
	margin-bottom: 6px;
	padding-bottom: 12px;
}

#left_column #block_top_menu .sf-menu > li:nth-child(1) > a:nth-child(1) {
	padding: 4px;
	border-bottom: 2px dotted $light-border-color;

}
#left_column #block_top_menu .sfHoverForce {
		a {
			background: white;
		}
}

// Left Column

#left_column {
    text-align: center;
    
    @media (max-width: $screen-sm) {
        padding: 0 10px;
        margin: 0 auto;
        width: 94%;
        border-bottom: 2px dotted $light-border-color;
    }
    
	// Languages block
	#languages-block-top {
        z-index: 20;

        
		@media (max-width: $screen-sm) {
			border-left: none;
		      float: left;
		      margin: 2rem 1rem -2rem 1rem;
		      width: 85px;
		      position: absolute;
		}

		@media (min-width: $screen-sm) {
			border-left: none;
			width: 100%;
			margin: 2rem auto 0;
			text-align: center;
		}

		.selected {
			color: $dark-border-color;
		}

		.language {
	      @media (max-width: $screen-md) {
	          padding: 0 10%;
      	}
            
			padding: 0 2%;
			margin: 0 auto;
			text-align: center;
			border-left: $main-border;
			&:first-child {
				border-left: none;
			}
		}
	}

	// Bloc menu
		#block_top_menu {
    			padding-top: 0;
			@media (min-width: $screen-sm) {
				padding-left: 0;
				margin-left: 0;
			      padding: 0;
			       height: 43rem;
			}

			.sf-menu {
				@media (max-width: $screen-sm) {
					margin-bottom: 1rem;
					margin-top: -2rem;
				}
				
				.sfHoverForce {
					padding-left: 0;
				}

				li {
					float: none;
					border-right: none;
					margin: 15px 0;
					display: block;
					position: relative;

					a {
						display: inline;
						font: 600 18px $headings-font-family, sans-serif;
						text-transform: none;
						border-bottom: none;
						padding: 0;

						&:hover {
							background: transparent;
							color: inherit;
						}

					}

					& > ul {
						display: none;
						position: relative;
						padding: 0;
						margin:0;
						-webkit-box-shadow:none;
						-moz-box-shadow:none;
						box-shadow:none;
						z-index: 0;
						top: 7px;

						li {
							width: 100%;
							margin: 0;
							padding: 2px 0;
							
							a {
								font-size: 1.4rem;
							}
						}
					}
				}
			}

			.sfHoverForce {
				padding-left: 15px;

				a {
				color: $base-text-color;
				opacity: 0.8;
				}

				&:hover {
					opacity: 0.8;
				}

			}
            
	    .cat-title {
	        margin-top: -1rem;
	        z-index: 10;
	        background-color: transparent;
	        border-bottom: none;
	        height: 80px;
	        
	        &:hover {
	            background: transparent;
	            color: $base-text-color;
	        }
	    
	        &:after {
	            @media (max-width: $screen-sm) {
	                content: "";
	            }
	        }

	        .navbar-toggle {
	        	float: none;
	        	display: block;
	        	position: relative;
	        	margin: 5px auto;
	        }
	    }


		}

		.navbar-default {
			background-color: transparent;
			border-color: transparent;
		}


	.sf-contener {
		float:none;
	}

	// Contact Form
	// -> bottom left link on the sidebar
	#bmsForm {
		margin-bottom: 0;

		@media (max-width: 768px) {
			display: inline-block;
			margin-right: 4%;
			.block_content {
				margin-bottom: 0;
				ul {
					margin-bottom: 0;
				}
			}
		}

		a {
			background: none;
			padding: 3px 0;
			color: inherit;
			&:hover {
				font-weight: bold;
				color: black;
			}
		}
	}


	// Social block

	#social_block {
	    z-index: 30;
	    position: relative;

	    @media (min-width: $screen-sm) {
	        height: 10rem;
	        margin-top: 7rem;
	    }

	    @media (max-width: $screen-sm) {
	    	position: absolute;
	    	right: 2rem;
	    	margin-top: 2rem;
	    }

	    	ul {
	    		@media (min-width: $screen-sm) {
		    		position: relative;
		    		top: 50rem;
	    		}
	    	}
	    
	    
		li {
			display: inline;
			font-size: 1.6rem;
			padding: 0 0.7rem;
		      @media (min-width: $screen-xs) and (max-width: $screen-sm) {
		        padding: 0 1.8rem;
		      }

		      @media (max-width: $screen-xs) {
		      	padding: 0 0.8rem;
		      }
		}	
	}


	// CMS block on left bottom corner
	.informations_block_left {
		margin-bottom: 0;
		@media (max-width: $screen-sm) {
			display: inline-block;
		}

		li {
			padding: 1px 0;
			border-top: 0;
			@media (max-width: $screen-sm) {
				display: inline-block;
				margin-right: 9px;
			}

			a:before {
				content: "";
				padding-right: 4px;
				padding-left: 4px;
			}
		}
	}

}




// -> contact form page
#module-bmsForm-default {
	@media (max-width: $screen-xs) {
		padding: 10px;
	}
	@media (min-width: $screen-xs) {
		padding: 30px;
	}

	.contact-form-box {
		background: none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		padding: 0;
		textarea {
			height: 100px;
			resize: both;
			@media (min-width: $screen-sm) {
				//width: 27%;
			}
		}
	}
}







// Home Page

.home-page {
	text-align: center;
    @media (min-width: $screen-sm) {
        height: 900px;
        margin-top: -2%;
    }
    
    @media (max-width: $screen-sm) {
        height: 600px;
        margin-top: -2%;
    }
    
	// .home-background {
	// 	background: image-url('background-2.png');
	// 	background-size: cover;
	// 	height: 100%;
	// 	width:100%;
	// }

	.table {
		display: table;
		margin: 0 auto;
		width: 100%;
		h1 {
			height: 80rem;
			display: table-cell;
			vertical-align: middle;
			&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
					margin-right: -0.25em; /* Adjusts for spacing */
			}

			@media (max-width: $screen-sm) {
				height: 60rem;
			}


			.logo { 
			  display: inline-block;
			  vertical-align: middle;
			  width: 300px;
			  @media (min-width: $screen-lg) {
				  position: fixed;
				  top: 28%;
				  left: 40%;
			  }
			}
		}
	}
	
}

// Header

@media (max-width: $screen-sm) {
	#header_logo {
		margin-top: 18px;
	}
}



//Right Column

#right_column {
	text-align: center;
	display: table;

	@media (max-width: $screen-sm) {
	    padding: 10px 10px 0;
	    margin: 0 auto;
	    width: 94%;
	    border-top: 2px dotted $light-border-color;
	}

	.blockstore {
		.right-menu {
			font-size: 18px;
			span {
				border-bottom: 2px dotted $light-border-color;
				padding: 4px;
			}
		}
	}

	.right-menu {
		font: 600 16px $headings-font-family ,sans-serif; 
		color: #484848;
		margin: 15px 0;
		display: block;

		&:hover {
			opacity: 0.8;
		}
		.number {
			font-size: 14px;
			font-weight: normal;
		}
	}

	.cart_block{

		@media (min-width: $screen-sm) {
			margin-bottom: 0;
			display: none;
			position: absolute;
			left: -100%;
			top: 0;
			height: 70rem;
			width: 100%;
		}

		@media (min-width: $screen-xs) and (max-width: $screen-sm) {
			width: 70%;
			margin: 0 auto;
		}

		@media (max-width: $screen-xs) {
			width: 100%;
			margin: 0 auto;
		}

		.cart-buttons {
			background: transparent;
			#button_order_cart {
				color: $gray-light;
				background-color: $base-text-color;
				@include transition (all 0.25s ease);
				span {
					border: 1px dotted $gray-lighter;
					@include transition (all 0.25s ease);
					background-color: $base-text-color;
					color: #FFF;
				}
				&:hover  { 
					color: $button-pm-color;
					span {
						background-color: $button-pm-hover-color;
						color: $base-text-color;
					}
				}
			}
		}

		.block_content {
			.cart_block_list {
				background: none repeat scroll 0% 0% #FFF;
				border: 1px dotted $gray-light;
				position:relative;
				z-index:1200;
			}
			@media (min-width: $screen-sm) {
				display: table-cell;
				vertical-align: middle;
			}
			@media (max-width: $screen-sm) {
				width: 100%;
				margin: 0 auto;
			}

		}

	}

	.center-right {
		@media (min-width: $screen-sm) {
			height: 65rem;
			display: table-cell;
			vertical-align: middle;
		}
	}

	// Bloc boutiques
	#stores_block_left {
		margin-bottom: 0;
		padding-bottom: 1px;

	}

	.shopping_cart {
		padding-top: 0;

		a:first-child::before {
			content: "";
		}

		.block_cart_expand::after, .block_cart_collapse::after {
			font-size: 10px;
		}
		.block_cart_collapse:after {
			content: "";
		}
	}
}


// Newsletter
body.modal-open {
	margin-right: 0; 
}

.modal {
	 z-index: 6000;
}

#mc-embedded-subscribe {
    margin: 1em auto;
}

.modal-backdrop.in {
	opacity: 0.5;
}


// CONTACT FORM HACK

#module-bmsForm-default {
	text-align: center;
	#contact, h1 {
	      @media (max-width: 399px) {
			width: 83%;
		}
	}
}

	@media (min-width: 400px) {
		#module-bmsForm-default .contact-form-box textarea {
			width: 272px;
			margin: auto;
		}
	}
	@media (max-width: 399px) {
		#module-bmsForm-default .contact-form-box textarea {
			margin: auto;
		}	
	}

	.version16 input.form-control {
		margin: auto;
	}








// Miscellaneous

a {
	@include transition(all 0.25s ease);
	// transition: color .25s ease-in-out;
	// -moz-transition: color .25s ease-in-out;
	// -webkit-transition: color .25s ease-in-out;
}


.row {
	margin-left: 0;
	margin-right: 0;
}

#center_column {
	padding: 0;
	position: relative;
	// z-index: 1000;
}


.button.button-small {
	font: $font;
	color: $gray-lighter;
	text-shadow: none;
	// @include transition(all 0.25s ease);
	// transition: color .25s ease-in-out;
	// -moz-transition: color .25s ease-in-out;
	// -webkit-transition: color .25s ease-in-out;
	&:hover {
		color: $button-pm-color;
	}
}

.button.button-medium.exclusive, .button.button-medium {
	border: 1px dotted $gray-lighter;
	background-image:  none;
	font: $font;
	color: #FFF;
	background-color: $base-text-color;
	@include transition(all 0.25s ease);

	span {
		// border: 1px dotted $gray-lighter;
		// background-color: $button-pm-color;
		// @include transition(all 0.25s ease);

	}
	&:hover {
		color: $base-text-color;
		background-image: none;
		background-color: $gray-lighter;
		//span {
		//	background-color: $button-pm-hover-color;
		//	border: 1px dotted $gray-lighter;
		//}
	}

}

.cart_navigation .button-exclusive {
	color: $gray-light;

	&:hover {
		color: $base-text-color;
	} 
}

.box-info-product .exclusive.added:before {
	content: '';
}

.button.button-medium {
	@include transition(all 0.25s ease);
}

// Fancybox

iframe {
	body {
		padding: 0 40px 40px 40px;
	}
}

.useful-info {
	padding: 20px 40px 40px 40px;
}


// Alert messages
div.alert.alert-danger {
	text-align: center;
	width:50%;
	margin: 10px auto;

	ol {
		padding-left: 0;
		margin-left: 0;
		li {
			list-style-type: none;
			margin-left: 0;
		}
	}

}

.alert {
	text-align: center;
}
.alert-danger {
	text-shadow: none;
	background-color: $gray-light;
	border: white;
	&:before {
		content: "";
	}
	a {
		color: $gray-lighter;
	}
}
.alert-warning {
	background-color: transparent;
	border: 1px dotted $gray-lighter;
	color: $gray-dark;
}	

.btn, .button, i {
	@include transition(all 1s ease);
}

a {
	@include transition(all 0.5s ease);
}




// Product Page

.pb-left-column {
	#view_scroll_right {
		float: right;
		margin-top: -58px;
	}
	@media (min-width: $screen-sm) {
		#views_block {
			margin-top: -65px;
			z-index: 1000;
			position: relative;
		}
		#thumbs_list {
			margin: 0 auto;
			width: 405px;

			li {			
				a {
					border-radius: 50%;
					overflow: hidden;
				}
			}

		}
	}
}

.pb-right-column {
	#quantity_wanted_p input {
		float: none;
		width: 40px;
	}

	#buy_block {
		.box-info-product {
			background: none;
			border: none;
			margin-bottom: 5%;
			.exclusive {
				margin: 0 auto;
				span {
					font-size: 1.5rem;
				}
			}

			.content_prices {
				padding: 0;
				padding-top: 4px;
				display: inline-block;
				vertical-align: top;
				@media (min-width: $screen-sm) {
					margin-bottom: 4%;
				}
				.price {
					float: left;
					.our_price_display {
						font-size: 1.5rem;
					}
				}
			}

			.product_attributes {
				display: inline-block;
				vertical-align: top;
				-webkit-box-shadow:none;
				-moz-box-shadow:none;
				box-shadow:none;
				padding: 0;
				// margin-right: 10%;
				float: right;
				@media (max-width: $screen-xs) {
					margin-right: 0;
				}
				@media (min-width: $screen-xs) and (max-width: $screen-sm) {
					float: none;
					margin-right: 8%;
					margin-left: 8%;
					label {
						padding-left: 0;
						text-align: left;
					}
				}

				#quantity_wanted_p label {
					font-size: 15px;
					padding-top: 9px;
				}
			}

			.box-cart-bottom {
				-webkit-box-shadow:none;
				-moz-box-shadow:none;
				box-shadow:none;
				display: inline-block;
				margin-top: 0;
				padding-top: 0;
				vertical-align: top;
				width: 100%;
				@media (min-width: $screen-xs) and (max-width: 619px) {
					width: 49%;
				}

				@media (min-width: 620px) and (max-width: $screen-sm) {
					width: 56%;
				}

				> div {
					float: left;
					vertical-align: top;
					width: 100%;
					@media (max-width: $screen-xs) {
						width: 100%;
					}
					@media (min-width: $screen-xs) and (max-width: $screen-sm) {
						width: 71%;
					}
					#add_to_cart {
						padding: 0;
						width: 100%;
						button {
							width: 100%;
						}
					}
					@media (min-width: $screen-xs) and (max-width: $screen-sm){
						width: 50%;
					}
				}
				#product_payment_logos {
					vertical-align: top;
					float: right;
					margin-top: 2%;
					.box-security {
						background-image: none;
						border-top: none;
						padding-top: 0;
						padding-right: 0;
						text-align: right;
						text-align: center;
						@media (max-width: $screen-xs) {
							padding:0;
							margin: 0;
						}
						.product-heading-h5 {
							margin-bottom: -4px;
						}
						.img-responsive {
							@media (max-width: $screen-sm) {
								display: inline-block;
							}
							max-width: 65%;
							filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
							filter: gray; /* IE6-9 */
							-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
							@media (min-width: $screen-xs) {
								max-width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

.primary_block {
	#usefull_link_block {
		text-align: center;
	}
}

a:focus {
	border: none;
	outline: none;
}



// Order Pages
.btn.button-plus span, .btn.button-minus span {
	width: 16px;
	height: 16px;
	padding: 0;
}

.table tbody > tr > td.cart_quantity .cart_quantity_button a {
	margin-right: 20px;
	color: $gray-lighter;
	@include transition (color 0.25s ease);
	&:hover {
		color: $gray-dark;
	}
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td {
	border: none;
}

.table {
	thead {
		tr {
			th {
				text-align: center;
			}
		}
	}
	tbody {
		tr {
			td {
				text-align: center;
			}
		}
	}
	tfoot {
		tr {
			td {
				// border-bottom: 1px solid $gray-light;
				border-top: none;
				border-left: none;
				border-right: none;
			}
		}
	}
}

#cart_summary tbody td.cart_unit, #cart_summary tbody td.cart_total {
	text-align: center;
}



























//////////////////////////////*******
// A REVOIR
//////////////////////////////////////////


#cart_summary tfoot td.price, #total_discount, #total_shipping, #total_product {
	text-align: center;
}

//////////////////////////////*******
// A REVOIR
//////////////////////////////////////////






























#uniform-id_address_delivery {
	span {
		width: 161px;
	}
}

#authentication .box {
	padding-bottom: 10px;
}

.radio-inline input[type="radio"] {
	float: none;
}

#address p.required, #identity p.required, #account-creation_form p.required, #new_account_form p.required, #opc_account_form p.required, #authentication p.required, #address p.required, #identity p.required, #account-creation_form p.required, #new_account_form p.required, #opc_account_form p.required, #authentication p.required {
	color: $gray-dark;
}

p.required {
	color: $gray-dark;
}

.form-group.form-ok input, .form-group.form-ok textarea {
	border: 1px solid $gray-dark;
	color: $gray-dark;
	background: none;
}



//Category pages 

.content_scene_cat {
	.cat_desc {
		h1 {
			margin: 0;
			.category-name {
				font-family: $font-family-headings;
				font-size: 42px;
			}
		}
	}
}

.content_scene_cat_bg {
	background-size: cover;
}

.product_list {
	.product-container {
		&:hover .right-block {
			// display: block;
			// background-color: black;
			opacity: 0.5;
		}
		.left-block {
		}

		.right-block {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			background-color: black;
			opacity: 0;
			// display: none;
			@include transition (all 1s ease);
			h5[itemprop="name"] {
				a {
					padding-top: 45%;
					padding-bottom: 40%;
					color: $gray-lighter;
				}
			}
		}
	}
	.ajax_block_product {
		padding-left: 0;
	}
}
	.bottom-pagination-content {
		border: none;
	}
	ul.product_list.grid > li .product-container .functional-buttons {
		background: none;
		padding: 0;
	}


// Collection pages
.collection {

	img {
		cursor: pointer;
	}

	.col-md-6, .col-md-4, .col-md-8, .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}

	.last-picture {
		position: absolute;
		bottom: 1px;
	}

}

.picture-modal-body {
	padding: 0;
}

@media (min-width: $screen-md) {
	.picture-modal-dialog {
		width: 900px;
	}
	.picture-modal-body {
		padding: 0;
		width: 900px;
	}

	.title {
		position: absolute;
		z-index: 10;
		text-align: center;
		top: 364px;
		left: 40%;
	}
}

.ph_simpleblog {
	h1 {
		text-align: center;
	}
	.post-thumbnail {
		.img-responsive {
			margin: 0 auto;
		}	
	}

	.post-content {
		h2 {
			text-align: center;
		}
	}
}


// MODULE DE PAIEMENT

.payment_module.atos {
	 border: 1px solid $base-border-color;
	.bold.teaser {
		text-align: center;
		font-size: 1.8rem;
		padding: 1.8rem;
		background-color: $gray-lighter;
		margin-bottom: 2rem;
		border-bottom: 1px solid $base-border-color;
	}

	form, div {
		img, input {
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
			filter: gray; /* IE6-9 */
			-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
		}
	}

}

// pictures in product pages
.pb-left-column #image-block {
	top: -24px;
}

// Black arrows on product pages

#views_block #view_scroll_left:before, #views_block #view_scroll_right:before {
	color: $base-text-color;
}

// Modals on CMS pages
#myModal .modal-content {
	background-color: transparent;
}

// For the collection page

@media (min-width: $screen-md) {
	#cms {
		.first-row-middle {
			position: absolute;
			top: 11.33%;
			left: 33.33%;
		}
		.second-row-middle {
			position: absolute;
			top: 33.26%;
			left: 33.33%;
		}
	}
}

@media (min-width: $screen-md) {
	.product_list .ajax_block_product {
		padding-left: 5px;
		padding-right: 5px;
	}
	.first-in-line {
		padding-left: 0;
		// padding-right: 5px;
	}
	.last-in-line {
		padding-right: 0;
	}
}

@media (min-width: $screen-sm) and (max-width: $screen-md) {
	.product_list .last-item-of-tablet-line {
		padding-right: 0;
		padding-left: 15px;
	}
}

@media (max-width: $screen-sm) {
	.ajax_block_product {
		padding-left: 0;
		padding-right: 0;
	}
}

// Modal
.modal-open {
    overflow: auto;
}