@import "compass";
@import "theme_variables";
@import "bootstrap";
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
// #maintenance {
// 	margin: 50px 0 0 0;
// 	@media (min-width: $screen-lg) { // > 1200 
// 		margin: 126px 0 0 0;
// 		padding: 91px 48px 365px 297px;
// 		background: url(../img/bg_maintenance.png) no-repeat;
// 	}
// 	.logo {
// 		margin: 0 0 31px 0;	
// 	}
// 	h1 {
// 		font: 600 28px/34px $font-family;
// 		color: $base-text-color;
// 		text-transform: uppercase;
// 		border-bottom: 1px solid $base-border-color;
// 		padding: 0 0 14px 0;
// 		margin: 0 0 19px 0;
// 	}
// 	#message {
// 		font: 600 16px/31px $font-family;
// 		padding: 0 0 0 18px;
// 		color: #555454;
// 		text-transform: uppercase;	
// 	}
// }
// @media only screen and (min-width: 1200px) {
// 	.container { 
// 		padding-left: 0;
// 		padding-right: 0;
// 	}
// }

body {
	// background-color: #999;
	height: 100%;
	// @include gradient-horizontal-three-colors($start-color: #999, $mid-color: $gray-lighter, $color-stop: 50%, $end-color: #999);
	@include gradient-radial($inner-color: $gray-lighter, $outer-color: #999);
	background-repeat: repeat;
	background-color: transparent;
}

#wrapper {
	font-family: $font-family;
	font-size: 1.5rem;
	height: 100%;
}


// Languages block
#languages-block-top {
      z-index: 20;
      font: $font-family;
      color: $gray-light;
	border-left: none;
	width: 100%;
	margin: 2rem auto;
	text-align: center;

	.selected {
		color: $dark-border-color;
	}

	.language {
      @media (max-width: $screen-md) {
          padding: 0 10%;
    	}
          
		padding: 0 2%;
		margin: 0 auto;
		text-align: center;
		border-left: $main-border;
		&:first-child {
			border-left: none;
		}
	}

	a {
		 text-decoration: none;
		 &:visited {
			color: inherit;
		 }
	}
}

.container {
	text-align: center;
}

.logo {
	@media (min-width: $screen-sm) {
		margin : 9rem auto;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	@media (max-width: $screen-sm) {
		margin: 3rem auto;
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
}

#mc_embed_signup {
	margin-top: 3rem;
	// margin-bottom: 8rem;

	input {
		width: 90%;
		&[placeholder], [placeholder], *[placeholder]  {
		   color: black;
		   text-align: center;
		   font-size: 1.5rem;
		   line-height: 3rem;
		   border: $main_border;
		   @include transition(all 0.3s ease);
		}
		&:active, &:focus {
			border: 1px solid black;
		}

		&[type="submit"] {
			width: 27.6%;
			font-size: 1.5rem;
			line-height: 3.4rem;
			margin: 2rem auto;
			color: $base-box-bg;
			background-color: $base-body-color;
			border: $main_border;
			@include transition(all 0.3s ease);
			&:hover, &:active, &:focus {
				background-color: $base-box-bg;
				color: $base-body-color;
				border: 1px solid black;
			}
		}
	}
}
